


.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f9;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-image: url("https://media.istockphoto.com/id/459880669/photo/a-parking-garage-turn-path-to-left-or-right.jpg?s=612x612&w=0&k=20&c=gWvnSqgN6HaBQAV69YdFTvP6rffrdljvk0wbhh_ocx4=")
        }
        
        h2 {
            text-align: center;
            color: #333;
            margin-bottom: 20px;
        }
        label {
            font-size: 14px;
            margin-bottom: 5px;
            color: #555;
        }
        input[type="text"], input[type="password"] {
            width: 100%;
            padding: 12px;
            margin-bottom: 15px;
            font-size: 16px;
            border: 1px solid #ddd;
            border-radius: 5px;
            outline: none;
        }
        input[type="text"]:focus, input[type="password"]:focus {
            border-color: #007BFF;
            box-shadow: 0 0 5px rgba(0, 123, 255, 0.2);
        }
        input[type="submit"] {
            background-color: #007BFF;
            color: #fff;
            border: none;
            padding: 12px;
            font-size: 16px;
            cursor: pointer;
            border-radius: 5px;
            transition: background-color 0.3s;
            width: 100%;
        }
        input[type="submit"]:hover {
            background-color: #0056b3;
        }
        .messages {
            margin-bottom: 15px;
        }
        .messages ul {
            list-style: none;
            padding: 0;
        }
        .messages li {
            padding: 10px;
            margin-bottom: 5px;
            border-radius: 5px;
            color: #fff;
        }
        .messages .danger {
            background-color: #dc3545;
        }
        .messages .success {
            background-color: #28a745;
        }
        .messages .warning {
            background-color: #ffc107;
            color: #333;
        }
        .messages .info {
            background-color: #17a2b8;
        }
        p {
            text-align: center;
            margin-top: 15px;
        }
        a {
            color: #007BFF;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
        .forgot-options {
            margin-top: 10px;
            text-align: center;
        }